
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#090909;
    color:#fff;
    font-family:'Inter',sans-serif;
    background:
    radial-gradient(circle at 20% 20%, rgba(37, 4, 204, 0.233), transparent 35%),
    radial-gradient(circle at 80% 50%, rgba(6, 87, 53, 0.12), transparent 40%),
    #090909;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
}

.container{
    width:min(1200px,90%);
    margin:auto;
}




header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    background:rgba(9,9,9,.75);
    backdrop-filter:blur(15px);
    border-bottom:1px solid rgba(255,255,255,.05);
}

nav{
    width:min(1200px,90%);
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 0;
}

nav h2{
    font-family:'Poppins',sans-serif;
    font-size:1.5rem;
}

nav ul{
    display:flex;
    gap:35px;
    list-style:none;
}

nav a{
    color:white;
    transition:.3s;
}

nav a:hover{
    color:#8B5CF6;
}




#inicio{
    min-height:100vh;
    display:flex;
    align-items:center;
}

#inicio .container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:70px;
}

.avatar{
   position: relative;
   left:0px;
}

.avatar img{
    width:650px;
    max-width:none;
    filter:drop-shadow(0 0 45px rgba(139,92,246,.35));
}


.informacoes{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    transform: translateY(-20px);
}

.cargo{
    color:#8B5CF6;
    letter-spacing:2px;
    font-weight:600;
}

.informacoes h1{
    font-family:'Poppins',sans-serif;
    font-size:3.8rem;
    line-height: 1.1;
    max-width: 700px;
    margin:15px 0;
}

.descricao{
    color:#C5C5C5;
    line-height:30px;
    margin-bottom:40px;
}



.novo-lancamento{
    width:620px;
    background:#141414;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:30px;
    display:flex;
    align-items:flex-start;
    gap:30px;
}

.capa-area{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;
}

.tag{
    color:#8B5CF6;
    font-size: .85rem;
    font-weight:700;
    text-align: center;
}

.dados-lancamento{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:15px;
}


.novo-lancamento h2{
    margin:0;
    font-family:'Poppins';
    font-size:2rem;
}

.novo-lancamento p{
    color:#bdbdbd;
    line-height:26px;
    max-width:280px;
}

.capa-musica{
    width:180px;
}

.capa-musica img{
    width:180px;
    height: 180px;
    object-fit: cover;
    border-radius:14px;
}



.botoes{
    width: 100%;
    display:flex;
    gap:15px;
    margin-top:8px;
}

.spotify,
.youtube{
    padding:14px 28px;
    border-radius:12px;
    transition:.3s;
    color:white;
    flex:1 ;
    text-align: center;
}

.spotify{
    background:#1DB954;
}

.youtube{
    background:#FF0000;
}

.spotify:hover,
.youtube:hover{
    transform:translateY(-5px);
}




#numeros{
    padding:100px 0 40px;
}

.timeline-container{
    width:min(1100px,90%);
    margin:auto;
    position:relative;
}


.linha{
    position:absolute;
    width:2px;
    background:rgba(255,255,255,.15);
    top:0;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}


.musica-destaque{
    width:50%;
    position:relative;
    margin-bottom:80px;
}


.esquerda{
    left:0;
    padding-right:50px;
}


.direita{
    left:50%;
    padding-left:30px;
}


.ponto{
    position:absolute;
    width:18px;
    height:18px;
    background:#8B5CF6;
    border-radius:50%;
    top:50%;
    transform:translateY(-50%);
    box-shadow:0 0 20px #8B5CF6;
}


.esquerda .ponto{
    right:-9px;
}


.direita .ponto{
    left:-9px;
}


.card-musica{
    width: 520px;
    min-height: 280px;
    background:#141414;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:30px;
    display:flex;
    gap:30px;
    align-items:center;
}


.card-musica img{
    width:210px;
    height:210px;
    object-fit:cover;
    border-radius:15px;
    flex-shrink: 0;
}


.info-musica{
    display:flex;
    flex-direction:column;
    gap:15px;
    justify-content: center;
    min-width: 0;
}


.info-musica h2{
    font-family:'Poppins';
    font-size: 1.2rem;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}


.info-musica span{
    color:#8B5CF6;
    font-weight:700;
}

.card-musica .spotify,
.card-musica .youtube{
    padding:10px 15px;
    font-size:.9rem;
}

.card-musica .botoes{
    gap:10px;
}




.hits-historicos > h2{
    text-align:center;
    font-family:'Poppins';
    font-size:2.5rem;
    margin-bottom:50px;
    text-shadow: 0 0 25px rgba(139, 92, 246, .15);
}

.hits-historicos{
    width: 100%;
    margin: 40px auto;
    padding: 80px 0;
    position: relative;

    background:radial-gradient(circle at center, rgba(117, 8, 219, 0.2), transparent 55% );
}


.cards-hits{
    display:flex;
    justify-content:center;
    gap:40px;
}


.card-hit{
    width:520px;
    min-height:320px;
    background:#141414;
    border:1px solid rgba(255,255,255,.08);
    border-radius:25px;
    padding:35px;
    display:flex;
    align-items:center;
    gap:30px;

    position: relative;
    overflow: hidden;
    box-shadow: 0 0 35px rgba(139, 92, 246, .15);
}


.card-hit img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:18px;
    flex-shrink:0;
}

.card-hit::before{
    content:"";
    position:absolute;
    inset:-2px;
    background:linear-gradient(
        120deg,
        transparent,
        rgba(104, 64, 204, 0.959),
        transparent
    );
    opacity:.4;
    animation: brilho 4s infinite;
}


.card-hit > *{
    position:relative;
    z-index:1;
}


@keyframes brilho{

    0%{
        transform:translateX(-100%);
    }

    50%{
        transform:translateX(100%);
    }

    100%{
        transform:translateX(100%);
    }

}


.info-hit{
    display:flex;
    flex-direction:column;
    gap:15px;
}


.info-hit span{
    color:#8B5CF6;
    font-weight:700;
    letter-spacing:1px;
}


.info-hit h3{
    font-family:'Poppins';
    font-size:1.7rem;
}


.info-hit p{
    color:#bbb;
    line-height:24px;
}


.info-hit .botoes{
    margin-top:10px;
}


/* EXPANSÃO P/ CELULAR*/
@media(max-width:480px){



    nav{
        flex-direction:column;
        gap:18px;
    }


    nav ul{
        gap:8px;
        flex-wrap:wrap;
        justify-content:center;
    }


    nav h2{
        font-size:1.1rem;
    }




    #inicio{
        padding-top:120px;
    }


    #inicio .container{
        flex-direction:column;
        gap:30px;
        text-align:center;
    }


    .avatar img{
        width:300px;
    }


    .informacoes{
        align-items:center;
        transform:none;
    }


    .informacoes h1{
        font-size:2.0rem;
    }




    .novo-lancamento{
        width:85%;
        flex-direction:column;
        align-items:center;
        text-align:center;
        padding:25px;
    }


    .dados-lancamento{
        align-items:center;
    }


    .novo-lancamento p{
        max-width:85%;
    }




    #numeros{
        padding:80px 0;
    }


    .timeline-container{
        width:95%;
    }


    .linha{
        left:20px;
    }


    .musica-destaque,
    .esquerda,
    .direita{
        width:90%;
        left:0;
        padding-left:60px;
        padding-right:0;
    }


    .esquerda .ponto,
    .direita .ponto{
        left:11px;
        right:auto;
    }



    .card-musica{
        width:100%;
        flex-direction:column;
        text-align:center;
        padding:17px;
    }


    .card-musica img{
        width:150px;
        height:150px;
    }


    .info-musica{
        align-items:center;
    }



    .hits-historicos{
        padding: 40px 10px;
        margin: 20px auto;
    }

    .hits-historicos > h2{
        font-size:1.8rem;
        margin-bottom:30px;
}


    .cards-hits{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }


    .card-hit{
        width: 100%;
        min-height: 250px;
        padding: 18px 12px;
        flex-direction: column;
        text-align: center;
        gap: 12px;

        border-radius: 20px;
        background: rgba(20,20,20,85);
        transition: .3s;
    }

    .card-hit:hover{
        transform: translateY(-5px);
    }

    .card-hit img{
        width: 90px;
        height: 90px;
        border-radius: 12px;
    }


    .info-hit{
        align-items:center;
        gap: 10px;
    }

    .info-hit h3{
        font-size:1.1rem;
        line-height: 1.2;
    }


    .info-hit p{
        font-size:.8rem;
        line-height:18px;
    }


    .card-hit .botoes{
        flex-direction:row;
        gap:8px;
    }


    .card-hit .spotify,
    .card-hit .youtube{
        font-size: .75rem;
        padding:9px 5px;
    }


}